
ErrorDocument 404 /index.php

<IfModule mod_rewrite.c>
  RewriteEngine On

   RewriteCond %{REQUEST_FILENAME} -f [OR]
   RewriteCond %{REQUEST_FILENAME} -d
   RewriteRule ^(.+) - [PT,L]
   RewriteRule ^(.+[^/])$ index.php
</IfModule>

php_value register_globals 0
php_value magic_quotes_gpc 0
